.test {
  margin: 10px auto;
  padding: 10px;
  background: #eee;
}
.content {
  width: 800px;
  margin: 20px auto;
  border: red 1px solid;
}
.content h1 {
  font-size: 30px;
  line-height: 30px;
  color: red;
}
.content p {
  font-size: 18px;
  line-height: 50px;
  color: red;
}
